<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="GitHub Widget"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.GitHubWidget">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Git ID">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GitHubWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/github_widget_info" />
        </receiver>

    </application>
</manifest>